.container {
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin-left: 234px;
    margin-top: 57px;
}
h2{
    font-size: 25px;
}

.input-group {
  margin-bottom: 25px;
}

/* .label {
  display: block;
  margin-bottom: 5px;
} */

.input {
  width: 600px;
  padding-left: 0px;
  color: #fff;
  border: none;
  background-color: #000;
  border-bottom: 1px solid #ccc;
  height: 20px;
  margin-bottom: 10px;
}
input:focus {
    outline: none;
}

.btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.profile-container {
    padding: 20px;
    font-size: 25px;
}

.success {
  color: #4caf50;
}

.error {
  color: #f44336;
}
